reward:
  components:
    - name: api_reward_pairs
      role: retain
      params:
        url: http://localhost:8100/score_pairs
        scale: 1.0

rh_detector: null
training:
  routing_mode: none
